header {
    background: #0899ee;
    color: rgb(16, 163, 221);
    padding: 10px 0;
}


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    text-align: center;

}

ul {
    justify-content: flex-end;
}

footer {
    background-color: #FFA955;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    
}

button:hover {
    background-color: #6a0dad;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.intro {
    background-image: url("grandepizza.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 20px;
    color: white;
}

section img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    max-width: 200px;
}

nav ul li a:hover {
    color: #6a0dad;  /* Change to any color you like */
}


footer i {
    margin: 0 10px;
    cursor: pointer;
}
footer i:hover {
    color: #6a0dad;
}




section {
    margin-bottom: 40px;
}
